h1,h2 {
  font-weight: 400;
}

h3 {margin-top: 5rem;}

.people_photo {
  width:200px; 
  border: 1px solid black; 
  padding: 2px; 
  float: left; 
  margin-right: 10px; 
  margin-top: 10px;
}

.background_img {
  position: relative;
  overflow: visible;
  display: block;
  margin: 0 auto;
  width: 161.2%;
  max-width: 5000px;
  left: -31%;
  top: -18px;
}
.credits {
  position: relative;
  text-align: right;
  margin: 0 auto;
  font-size: 10px;
  right: -29.8%;
  top: -28px;
}

.gssi_logo {
  width:200px; 
  padding: 2px; 
  float: right; 
  margin-top: 0px;
}

.md-toc-h1 {
  display: none;
}

date {
  color:gray;
  font-style: italic;
  display: block;
}

.title{
  margin-bottom:-5px;
}
subtitle{
  font-size: 26px;
  color:gray;
  margin-bottom: 30px;
  display: block;
}
